/* SF Pro Rounded Font Family */

@font-face {
    font-family: 'SF Pro Rounded';
    src: url('https://cdn.jsdelivr.net/gh/Austcool-Walker/San-Francisco-Pro@master/SF-Pro-Rounded-Ultralight.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Rounded';
    src: url('https://cdn.jsdelivr.net/gh/Austcool-Walker/San-Francisco-Pro@master/SF-Pro-Rounded-Thin.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Rounded';
    src: url('https://cdn.jsdelivr.net/gh/Austcool-Walker/San-Francisco-Pro@master/SF-Pro-Rounded-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Rounded';
    src: url('https://cdn.jsdelivr.net/gh/Austcool-Walker/San-Francisco-Pro@master/SF-Pro-Rounded-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Rounded';
    src: url('https://cdn.jsdelivr.net/gh/Austcool-Walker/San-Francisco-Pro@master/SF-Pro-Rounded-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Rounded';
    src: url('https://cdn.jsdelivr.net/gh/Austcool-Walker/San-Francisco-Pro@master/SF-Pro-Rounded-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Rounded';
    src: url('https://cdn.jsdelivr.net/gh/Austcool-Walker/San-Francisco-Pro@master/SF-Pro-Rounded-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Rounded';
    src: url('https://cdn.jsdelivr.net/gh/Austcool-Walker/San-Francisco-Pro@master/SF-Pro-Rounded-Heavy.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Rounded';
    src: url('https://cdn.jsdelivr.net/gh/Austcool-Walker/San-Francisco-Pro@master/SF-Pro-Rounded-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}